
  Body {
    background-color: #EAE7D9;
  }
  hr {
    border-color: #708160;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 4%;
  }
  img {
    height: 205px;
  }
  h1 {
    color: #708160;
  }
  h3 {
    color: #708160;
  }
