body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40540E;
}
h1 {
  color: #66BFBF;
  font-size: 5rem;
  margin: 0;
  padding-top: 150px;
  font-family: 'Sacramento', cursive;
}
h2 {
  color: #66BFBF;
  margin-bottom: 50px;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  color: #11999E;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
p {
  color: #40514E;
  line-height: 2;
}
hr {
  border-style: dotted;
  border-bottom-style: none;
  border-color: #EAF6F6;
  width: 6%;
  border-width: .7rem;
  margin-top: 70px;
  margin-bottom: 60px;
}

.yoga {
  font-style: italic;
  font-weight: bold;
}
.pic {
  margin: 50px;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
}
.mid-container {
  margin-bottom: 50px;
}
.intro {
  width: 40%;
  margin: auto;
}
.bottom-container {
  background-color: #669966;
  padding: 40px 0 10px;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 150px;
}
.BUTTON_ANP {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #EAF6F6, #11999E);
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 1rem;
   font-weight: 100;
   margin-top: 30px;
   padding: 10px;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px #000000;
   border: solid #11999E 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_ANP:hover {
   border: solid #66BFBF 1px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #3D94F6);
   border-radius: 20px;
   text-decoration: none;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin-right: 50px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.skill-row {
  /*display: inline-block;*/
  text-align: left;
  line-height: 2;
  width: 50%;
  margin: 50px auto 100px;
}
.pm-img {
  float:left;
  margin-right: 30px;
  width: 25%;
}
.yoga-img {
  float:right;
  margin-left: 30px;
  width: 25%;
}
.brc {
  color: #EAF6F6;
  font-size: .8rem;
  margin: 30px auto;
}
